<!---
 * Title: base-layout.component.html
 * Author: Alex Haefner
 * Date: 26 November 2021
 --->

 <div fxLayout="column">
  <!-- navigation -->
  <nav fxFlex>
    <mat-toolbar>
      <!-- navbar container -->
      <div class="navbar-container">
        <!-- logo -->

        <!-- Website tutorial
        <a (click)="this.introJS.start()" class="tutBtn">
          <mat-icon>help_outline</mat-icon>
        </a> -->
      </div>
    </mat-toolbar>
  </nav>

  <!-- main content -->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
