<meta
  name="description"
  content="Pokemon Go Friend Code finder that lets users submit their own code and add friends by viewing other submitted codes."
/>
<div class="card">
  <button class="navbar-link" routerLink="/" mat-button>Usage Guide</button>
  <div class="center">
    <div><h1>Pokémon Go Friend Codes</h1></div>
    <p class="blurb">
      Welcome, here you can enter you Pokémon Go Friend Code so people can add
      you from all over the world! Simply submit your code and copy codes to add
      in Pokémon Go. Codes can be bumped every 24hrs.
    </p>

    <br />

    <mat-form-field [formGroup]="codeForm">
      <label class="input">
        <input
          matInput
          type="text"
          [formControl]="codeForm.controls['code']"
          class="input__field"
          autofocus
          autocomplete="off"
          id="codeInput"
        />

        <span class="input__label">Your friend code</span>
      </label>
    </mat-form-field>

    <button (click)="submitCode()" [disabled]="codeForm.invalid" id="submitBtn">
      Submit Code
    </button>
    <br />
    <!--<mat-slide-toggle> Toggle QR Codes - Coming soon!</mat-slide-toggle>-->
  </div>
  <br />
  <!-- Code Column -->
  <table mat-table [dataSource]="codes" class="mat-elevation-z8 center2">
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef class="th">
        Recently submitted friend codes
      </th>
      <td
        mat-cell
        *matCellDef="let code"
        value="code"
        class="code"
        style="cursor: pointer"
        [cdkCopyToClipboard]="code.code"
        (click)="
          showSnackbar('Friend code copied to clipboard', 'Dismiss', '1000')
        "
      >
        {{ code.code }} <a class="date">{{ code.createdAt }}</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[10, 20, 50, 100]"
    aria-label="Select page of users"
    style="width: 25vw; margin: 0 auto"
  ></mat-paginator>
</div>
