:root {
    --color-light: white;
    --color-dark: #212121;
    --color-signal: #fab700;

    --color-background: var(--color-light);
    --color-text: var(--color-dark);
    --color-accent: var(--color-signal);

    --size-bezel: 0.5rem;
    --size-radius: 4px;

    line-height: 1.4;

    font-family: "Inter", sans-serif;
    font-size: calc(0.6rem + 0.4vw);
    color: var(--color-text);
    background: var(--color-background);
    font-weight: 300;
    padding: 0 calc(var(--size-bezel) * 3);
  }

  html {
    background-color: #ffffff;
  }

  .center {
    text-align: center;
    width: 100%;
  }
  .center2 {
    text-align: center;
    margin: auto;
    width: 25%;
  }

  .card {
    margin: auto;
    width: 30%;
    background: white;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 4px;
    border: 3px solid black;
    box-shadow: 0.5rem 0.5rem 0 black;

    @media (max-width: 428px) {
      width: 75vw;
    }
  }

  @media all and (max-width: 30em) {
    a.copyBtn {
      display: block;
      margin: 0.4em auto;
    }
  }

  /*
  * Styling for date
  */
  a.date {
    font-size: 0.7em;
    margin-left: 20px;
  }

  .input {
    position: relative;

    &__label {
      position: absolute;
      left: 0;
      top: 0;
      padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * 0.5);
      margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * 0.5);
      background: white;
      white-space: nowrap;
      transform: translate(0, 0);
      transform-origin: 0 0;
      background: var(--color-background);
      transition: transform 120ms ease-in;
      font-weight: bold;
      line-height: 1.2;
      font-size: 0.8rem;
    }
    &__field {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border: 3px solid currentColor;
      padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
      color: currentColor;
      background: transparent;
      border-radius: var(--size-radius);

      &:focus,
      &:not(:placeholder-shown) {
        & + .input__label {
          transform: translate(0.25rem, -65%) scale(0.8);
          color: var(--color-accent);
        }
      }
    }
  }

  p.blurb {
    width: 30vw;
    margin: 0 auto;
    @media (max-width: 428px) {
      width: 75vw;
    }
  }

  #submitBtn {
    margin-left: 3em;
    cursor: pointer;
    color: currentColor;
    padding: var(--size-bezel) calc(var(--size-bezel) * 2);
    background: var(--color-accent);
    border: 3px solid currentColor;
    border-radius: var(--size-radius);
    font-weight: 900;
    margin-top: calc(var(--size-bezel) * 2.5);
    &:hover {
      background: #fab700;
    }
    &:disabled {
      cursor: not-allowed;
    }
  }
  .th,
  .code {
    display: contents;
    white-space: nowrap;
  }
  .mat-paginator {
    display: contents;
  }

  .navbar-link {
    cursor: pointer;
    color: currentColor;
    background: var(--color-accent);
    border: 3px solid currentColor;
    border-radius: var(--size-radius);
    font-weight: 900;
    &:hover {
      background: #fab700;
      cursor: help;
    }
  }
